@table-bg:#ebf0fa;
@border-color:#cad5df;
@base-color-blue:#3694f2;

.error-info{
  color:#ea5129;
}
.ml-20{
  margin-left: 20px;
}
.mt-20{
  margin-top: 20px;
}
.ml-10{
  margin-left: 10px;
}
.mt-50{
  margin-top: 50px;
}
.mt-40{
  margin-top: 40px;
}

.btn-search{
  width:100px;
  height: 36px;
  background: @base-color-blue;
}
.text-blue{
  font-size: 14px;
  color: @base-color-blue;
}