.ivu-table-cell{
  width: 100%;
  text-align: center;
}
.tableContent tr{
  height: 42px;
  span{
    font-size: 14px;
    color: #666;
    font-weight: normal;
    font-family: "微软雅黑", sans-serif;
  }
}
.ivu-table-header{
  height: 42px;
}
