body {
  overflow: hidden;
}
/*页头*/
.navbar-fixed-top {
  left: 0;
  border-bottom: 2px solid #5584ff;
  color: #666;
  background-color: #fff;
}
.navbar-fixed-top,
.user-info {
  overflow: initial;
}
.logo-info {
  margin-left: 30px;
  line-height: 76px;
  font-size: 18px;
}
.logo-info i {
  display: inline-block;
  height: 25px;
  margin: 0 20px -7px;
  border-left: 1px solid #bdbdbd;
}
.user-info {
  height: 100%;
}
.photo {
  float: left;
  height: 100%;
  border-right: 0;
  line-height: 76px;
}
.photo i {
  display: inline-block;
  height: 10px;
  margin-left: 5px;
  border-left: 1px solid #bdbdbd;
  margin-right: 5px;
}
.logout {
  display: inline-block;
  float: left;
  height: 100%;
  width: 80px;
  text-align: center;
}
.logout a {
  width: 23px;
  height: 26px;
  display: inline-block;
  margin-top: 15px;
  margin-left: -15px;
  background: url('../imgs/logout.png') center center no-repeat;
}
/*左导航*/
#accordion {
  top: 78px;
  bottom: 50px;
  width: 200px;
  box-shadow: none;
  border-right: 1px solid #d2d9e7;
  overflow-y: auto;
}
.accordion .link {
  position: relative;
  display: block;
  height: 50px;
  border-bottom: 1px solid #e7eeff;
  cursor: pointer;
  color: #7a8599;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  background: no-repeat 30px center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.accordion .link i {
  position: absolute;
  top: 18px;
  right: 10px;
  font-size: 14px;
  color: #7a8599;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.accordion li.open .link,
.accordion li .link:hover {
  color: #4276fe;
  background-color: #e7eeff;
}
#m1 {
  background-image: url('../imgs/icon-user.png');
}
.accordion li.open #m1,
.accordion li #m1:hover {
  background-image: url('../imgs/icon-user-p.png');
}
#m4 {
  background-image: url('../imgs/icon-date.png');
}
.accordion li.open #m4,
.accordion li #m4:hover {
  background-image: url('../imgs/icon-date-p.png');
}
#m7 {
  background-image: url('../imgs/icon-system.png');
}
.accordion li.open #m7,
.accordion li #m7:hover {
  background-image: url('../imgs/icon-system-p.png');
}
#m69 {
  background-image: url('../imgs/icon-data2.png');
}
.accordion li.open #m69,
.accordion li #m69:hover {
  background-image: url('../imgs/icon-data2-p.png');
}
#m75 {
  background-image: url('../imgs/icon-web.png');
}
.accordion li.open #m75,
.accordion li #m75:hover {
  background-image: url('../imgs/icon-web-p.png');
}
#m78 {
  background-image: url('../imgs/icon-app.png');
}
.accordion li.open #m78,
.accordion li #m78:hover {
  background-image: url('../imgs/icon-app-p.png');
}
#m80 {
  background-image: url('../imgs/icon-users.png');
}
.accordion li.open #m80,
.accordion li #m80:hover {
  background-image: url('../imgs/icon-users-p.png');
}
#m82 {
  background-image: url('../imgs/icon-review.png');
}
.accordion li.open #m82,
.accordion li #m82:hover {
  background-image: url('../imgs/icon-review-p.png');
}
#m84 {
  background-image: url('../imgs/icon-ping.png');
}
.accordion li.open #m84,
.accordion li #m84:hover {
  background-image: url('../imgs/icon-ping-p.png');
}
#m87 {
  background-image: url('../imgs/icon-proposition.png');
}
.accordion li.open #m87,
.accordion li #m87:hover {
  background-image: url('../imgs/icon-proposition-p.png');
}
#m91 {
  background-image: url('../imgs/icon-resource.png');
}
.accordion li.open #m91,
.accordion li #m91:hover {
  background-image: url('../imgs/icon-resource-p.png');
}
#m93 {
  background-image: url('../imgs/icon-incubation.png');
}
.accordion li.open #m93,
.accordion li #m93:hover {
  background-image: url('../imgs/icon-incubation-p.png');
}
.accordion li.open i {
  color: #4276fe;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.submenu {
  display: none;
  background: #7a8599;
  font-size: 12px;
}
.submenu li:last-child {
  border-bottom: 1px solid #e7eeff;
}
.cm-accordion-menu .accordion .submenu a {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  text-decoration: none;
  color: #7a8599;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.cm-accordion-menu .accordion .submenu li.active > a {
  color: #4276fe;
}
/*iframe*/
.desktop-wrap {
  left: 200px;
  top: 78px;
  bottom: 50px;
}
.desktop-wrap #desktop {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: url('../imgs/loading.gif') no-repeat 40% 40%;
}
/*页脚*/
.footer {
  height: 50px;
  padding: 0;
  border-width: 1px 0;
  border-color: #99b5ff;
  line-height: 50px;
  color: #bdd0f9;
  background-color: #5584ff;
  font-size: 14px;
}
.footer i {
  display: inline-block;
  height: 15px;
  margin: 0 5px -3px;
  border-left: 1px solid #bdd0f9;
}
