h4,
h5,
h6 {
  margin: 0;
}
i {
  font-style: normal;
}
.ml-50 {
  margin-left: 50px;
}
.ml-90 {
  margin-left: 90px;
}
.ml-100 {
  margin-left: 100px;
}
.green {
  color: #4ecb9f;
}
.container {
  margin-top: 60px;
  font-size: 14px;
}
.c-333 {
  color: #333;
}
.section-header {
  height: 100px;
  line-height: 26px;
  font-size: 18px;
  padding: 37px 0;
}
.searchTitle {
  font-size: 12px;
  color: #666;
}
.searchForm label {
  font-weight: normal;
}
.resetTitle {
  font-size: 12px;
  color: #5584ff;
}
.tile {
  background: white;
  overflow: hidden;
}
h4.title {
  font-size: 22px;
  color: #4c5e70;
}
h5.title {
  font-size: 18px;
}
.content {
  color: #666;
  font-size: 14px;
}
.tile-header {
  font-size: 14px;
  color: #333333;
  line-height: 35px;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}
.tile-content {
  font-size: 14px;
  color: #333;
  overflow: hidden;
}
.tile-content h6 {
  font-size: 14px;
  color: #333;
}
.tile-content tr {
  height: 35px;
}
td.whiteSpace {
  width: 84px;
}
.ulborder li {
  padding: 15px 20px;
  border: 1px solid #f6f7fd;
  overflow: hidden;
}
.apply ul > li span {
  display: block;
  float: left;
  max-width: 80%;
}
.apply ul > li span:first-child {
  width: 75px;
}
.apply p {
  margin-top: 20px;
}
li.active,
tr.active {
  background: #f6f7fd;
}
.table thead tr {
  background: #ebf0fa;
  color: #666;
  height: 60px;
  font-size: 14px;
}
.table > thead > tr > th {
  border-bottom: none;
  line-height: 44px;
  font-weight: 400;
}
.text-center.table > thead > tr > th {
  text-align: center;
}
.table tbody tr {
  border-top: none;
  color: #666;
  height: 34px;
  font-size: 14px;
}
.table > tbody > tr > td {
  border-top: none;
  color: #666;
  line-height: 34px;
}
.table-indent th:first-child,
.table-indent tr > td:first-child {
  text-indent: 20px;
}
.table.table-bordered-noheader thead > tr > th {
  border: 1px solid transparent;
}
.table.table-bordered-noheader thead > tr > th:last-child {
  border-right: 1px solid #eef2f5;
}
.table.table-bordered-noheader tbody > tr > td {
  border: 1px solid #eef2f5;
  word-break: break-all;
  min-width: 48px;
}
.table > tbody > tr.teaminfo > td:first-child {
  color: #5584ff;
}
.table > tbody > tr.userinfo > td:first-child {
  background: url(../../assets/imgs/userinfo.png) no-repeat 15px;
}
#delete-app-dialog .modal-dialog {
  width: 540px;
}
.dialog-content {
  padding: 40px 72px;
}
.modal-content.bd-muted.w470 {
  width: 470px;
}
.modal-content.bd-muted.w510 {
  width: 510px;
}
.modal-content.bd-muted.w670 {
  width: 670px;
}
.modal-dialog.w470 {
  width: 470px;
}
#verifyCode {
  width: 146px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  text-indent: 10px;
}
.code-img {
  width: 80px;
  height: 32px;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 2px;
  background: #7dbfe8;
}
h3 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}
.module-header {
  overflow: hidden;
}
.module-header h3 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}
.module-header i {
  font-size: 14px;
  color: #646e7e;
}
.module-header h4 {
  margin-top: 0;
  font-size: 18px;
  color: #666;
  border-bottom: 2px solid #eceff9;
  padding-bottom: 12px;
  line-height: 28px;
}
.modal-body h3.text-info-green {
  font-size: 28px;
  color: #4ecb9f;
}
.light-dark-text {
  color: #a7b0bd;
}
.main-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 25px 30px;
  font-size: 14px;
  background: #fff;
}
.light-dark-text {
  color: #a7b0bd;
}
.cm-tip.bottom:after {
  margin-left: -99px;
}
.bottom.cm-tip.bg-white:before {
  margin-left: -100px;
}
.cm-tip {
  margin-left: 92px;
  line-height: 22px;
  margin-top: 8px;
}
.btn-green {
  font-size: 16px;
  width: 108px;
  height: 34px;
  border: 1px solid #4ecb9f;
  background: #4ecb9f;
  line-height: 32px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #FFF;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-green:hover,
.btn-green.active,
.btn-green:active {
  border: 1px solid #49bf96;
  background: #49bf96;
  text-decoration: none;
  color: #FFF;
}
.btn-green.w70 {
  font-size: 14px;
  width: 70px;
  height: 30px;
  line-height: 28px;
}
.btn-green.w80 {
  font-size: 14px;
  width: 80px;
  height: 30px;
  line-height: 28px;
}
.btn-green.w120 {
  font-size: 14px;
  width: 120px;
  height: 30px;
  line-height: 28px;
}
.btn-green-nobg {
  font-size: 14px;
  width: 60px;
  height: 30px;
  border: 1px solid #4ecb9f;
  background: #FFF;
  line-height: 28px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #4ecb9f;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-green-nobg:hover,
.btn-green-nobg.active,
.btn-green-nobg:active {
  border: 1px solid #49bf96;
  background: #FFF;
  text-decoration: none;
  color: #49bf96;
}
.btn-blue {
  font-size: 16px;
  width: 108px;
  height: 34px;
  border: 1px solid #5584ff;
  background: #5584ff;
  line-height: 32px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #FFF;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-blue:hover,
.btn-blue.active,
.btn-blue:active {
  border: 1px solid #4d7aeb;
  background: #4d7aeb;
  text-decoration: none;
  color: #FFF;
}
.btn-blue.w70 {
  font-size: 14px;
  width: 30px;
  height: 70px;
  line-height: 68px;
}
.btn-blue.w80 {
  font-size: 14px;
  width: 80px;
  height: 30px;
  line-height: 28px;
}
.btn-blue-topic {
  font-size: 12px;
  width: 55px;
  height: 20px;
  border: 1px solid #5584ff;
  background: #5584ff;
  line-height: 18px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #FFF;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-blue-topic:hover,
.btn-blue-topic.active,
.btn-blue-topic:active {
  border: 1px solid #5584ff;
  background: #5584ff;
  text-decoration: none;
  color: #FFF;
}
.btn-blue-nobg {
  font-size: 14px;
  width: 60px;
  height: 30px;
  border: 1px solid #5584ff;
  background: #FFF;
  line-height: 28px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #5584ff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-blue-nobg:hover,
.btn-blue-nobg.active,
.btn-blue-nobg:active {
  border: 1px solid #4d7aeb;
  background: #FFF;
  text-decoration: none;
  color: #4d7aeb;
}
.btn-blue-nobg-list {
  font-size: 12px;
  width: 44px;
  height: 26px;
  border: 1px solid #5584ff;
  background: #FFF;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #5584ff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-blue-nobg-list:hover,
.btn-blue-nobg-list.active,
.btn-blue-nobg-list:active {
  border: 1px solid #4d7aeb;
  background: #FFF;
  text-decoration: none;
  color: #4d7aeb;
}
.btn-orange {
  font-size: 16px;
  width: 108px;
  height: 34px;
  border: 1px solid #ffc24d;
  background: #ffc24d;
  line-height: 32px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #FFF;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-orange:hover,
.btn-orange.active,
.btn-orange:active {
  border: 1px solid #ffc24d;
  background: #ffc24d;
  text-decoration: none;
  color: #FFF;
}
.btn-orange.w70 {
  font-size: 14px;
  width: 30px;
  height: 70px;
  line-height: 68px;
}
.btn-orange.w80 {
  font-size: 14px;
  width: 80px;
  height: 30px;
  line-height: 28px;
}
.btn-orange.w85 {
  font-size: 14px;
  width: 85px;
  height: 30px;
  line-height: 28px;
}
.btn-orange.w120 {
  font-size: 14px;
  width: 120px;
  height: 30px;
  line-height: 28px;
}
.btn-orange-topic {
  font-size: 12px;
  width: 55px;
  height: 20px;
  border: 1px solid #ffc24d;
  background: #ffc24d;
  line-height: 18px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #FFF;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-orange-topic:hover,
.btn-orange-topic.active,
.btn-orange-topic:active {
  border: 1px solid #ffc24d;
  background: #ffc24d;
  text-decoration: none;
  color: #FFF;
}
.btn-orange-nobg {
  font-size: 14px;
  width: 50px;
  height: 30px;
  border: 1px solid #ffc24d;
  background: #FFF;
  line-height: 28px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #ffc24d;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-orange-nobg:hover,
.btn-orange-nobg.active,
.btn-orange-nobg:active {
  border: 1px solid #ffc24d;
  background: #FFF;
  text-decoration: none;
  color: #ffc24d;
}
.btn-red {
  font-size: 16px;
  width: 108px;
  height: 34px;
  border: 1px solid #fda68a;
  background: #fda68a;
  line-height: 32px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #FFF;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-red:hover,
.btn-red.active,
.btn-red:active {
  border: 1px solid #fc6a3c;
  background: #fc6a3c;
  text-decoration: none;
  color: #FFF;
}
.btn-red.w70 {
  font-size: 14px;
  width: 30px;
  height: 70px;
  line-height: 68px;
}
.btn-red-nobg {
  font-size: 14px;
  width: 60px;
  height: 30px;
  border: 1px solid #fda68a;
  background: #FFF;
  line-height: 28px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #fda68a;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-red-nobg:hover,
.btn-red-nobg.active,
.btn-red-nobg:active {
  border: 1px solid #fc6a3c;
  background: #FFF;
  text-decoration: none;
  color: #fc6a3c;
}
.btn-red-nobg-list {
  font-size: 12px;
  width: 44px;
  height: 26px;
  border: 1px solid #fda68a;
  background: #FFF;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #fda68a;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-red-nobg-list:hover,
.btn-red-nobg-list.active,
.btn-red-nobg-list:active {
  border: 1px solid #4d7aeb;
  background: #FFF;
  text-decoration: none;
  color: #fc6a3c;
}
.btn-default {
  font-size: 16px;
  width: 108px;
  height: 34px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 32px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #000;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-default:hover,
.btn-default.active,
.btn-default:active {
  border: 1px solid #adadad;
  background: #e6e6e6;
  text-decoration: none;
  color: #000;
}
.btn-default.w80 {
  font-size: 14px;
  width: 80px;
  height: 30px;
  line-height: 28px;
}
.btn-default.w70 {
  font-size: 14px;
  width: 70px;
  height: 30px;
  line-height: 28px;
}
.btn-gray-nobg {
  font-size: 14px;
  width: 60px;
  height: 30px;
  border: 1px solid #cccccc;
  background: #FFF;
  line-height: 28px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #cccccc;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-gray-nobg:hover,
.btn-gray-nobg.active,
.btn-gray-nobg:active {
  border: 1px solid #ccc;
  background: #FFF;
  text-decoration: none;
  color: #ccc;
}
.btn-gray-nobg.w70,
.btn-blue-nobg.w70,
.btn-orange-nobg.w70,
.btn-red-nobg.w70 {
  width: 70px;
}
.btn-gray-nobg.w85,
.btn-blue-nobg.w85,
.btn-orange-nobg.w85,
.btn-red-nobg.w85 {
  width: 85px;
}
.btn-gray-nobg.w55,
.btn-blue-nobg.w55,
.btn-orange-nobg.w55,
.btn-red-nobg.w55 {
  width: 55px;
}
.btn-gray-nobg.h20,
.btn-blue-nobg.h20,
.btn-orange-nobg.h20,
.btn-red-nobg.h20 {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
.btn-gray-nobg.w75,
.btn-blue-nobg.w75,
.btn-orange-nobg.w75,
.btn-red-nobg.w75 {
  width: 75px;
}
.btn-gray-nobg.w80,
.btn-blue-nobg.w80 {
  width: 80px;
}
.btn-gray-nobg.w120 {
  width: 120px;
}
.btn-blue-nobg-list.w60 {
  width: 60px;
}
.btn-blue-nobg-list.w70 {
  width: 70px;
}
.btn-azure {
  font-size: 12px;
  width: 86px;
  height: 20px;
  border: 1px solid #3ec2ff;
  background: #3ec2ff;
  line-height: 18px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #FFF;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-azure:hover,
.btn-azure.active,
.btn-azure:active {
  border: 1px solid #3ec2ff;
  background: #3ec2ff;
  text-decoration: none;
  color: #fff;
}
.no-pointer {
  cursor: default !important;
}
.info-blue,
.info-yellow {
  min-width: 55px;
  text-align: center;
  color: #FFF;
  font-size: 12px;
  display: inline-block;
  line-height: 18px;
  padding: 0 5px;
}
.info-blue {
  border: 1px solid #5584ff;
  background: #5584ff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.info-yellow {
  border: 1px solid #ffc24d;
  background: #ffc24d;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.btn-data-download {
  padding-left: 20px;
  font-size: 12px;
  background: url(../../assets/imgs/icon-download.png) left center no-repeat;
}
.btn-setting {
  padding-left: 20px;
  font-size: 12px;
  background: url(../../assets/imgs/icon-gjsz-active.png) left center no-repeat;
}
.btn-plus {
  padding-left: 20px;
  font-size: 12px;
  background: url(../../assets/imgs/icon-plus.png) left center no-repeat;
}
.btn-remove {
  padding-left: 20px;
  font-size: 12px;
  background: url(../../assets/imgs/icon-remove.png) left center no-repeat;
}
.tdCumTitle,
.tdCumInstruction {
  vertical-align: top;
}
.tdCumInstruction {
  width: 270px;
}
.sort-btn {
  cursor: pointer;
  text-indent: 5px;
}
.tabs-wrap {
  position: relative;
}
.nav-tabs {
  overflow: hidden;
  border-bottom: none;
}
.tab-item a {
  display: inline-block;
  padding: 6px 28px;
  background: #e7f1f8;
  font-size: 14px;
  color: #666666;
  text-decoration: none;
  cursor: pointer;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background: #60a3d2;
  color: #ffffff;
}
.tab-pane {
  position: relative;
}
.nav_style {
  margin-bottom: 10px;
  margin-left: 1px;
}
.nav_style > li > a {
  font-size: 14px;
  padding: 7px 25px;
  color: #333333;
}
.nav_style > li > a > span {
  color: #fc6a3c;
}
.nav_style > li {
  border: 1px solid #edf0f5;
  margin-left: -1px;
}
.nav_style > li > a.active,
.nav_style > li > a:focus,
.nav_style > li > a:hover {
  background-color: #f5f7f9;
  color: #5584ff;
}
.radius_left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.radius_right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.switch-wrap {
  text-align: right;
  height: 71px;
  padding: 0 20px;
  margin-bottom: 0;
}
.switch-wrap .sw0 {
  display: inline-block;
  overflow: hidden;
  height: 31px;
}
.switch-wrap a.switch-item {
  display: inline-block;
  padding: 6px 8px;
  background: #e7f1f8;
  color: #666666;
  line-height: normal;
  text-decoration: none;
  float: left;
  width: 62px;
  text-align: center;
}
.switch-wrap a.switch-item.active {
  background: #60a3d2;
  color: #ffffff;
}
.chart-content {
  overflow: hidden;
  padding: 0 20px;
  min-height: 400px;
}
.dropdown-menu {
  left: auto;
  right: 0;
  padding: 0;
}
.date-picker-wrapper .drp_top-bar .apply-btn {
  background: #60a3d2;
  color: #fff;
  padding: 6px 12px;
  border-radius: 2px;
  border: none;
  top: 3px;
}
.table-header-fixed {
  overflow: hidden;
}
.table-header {
  overflow: hidden;
}
.table-body {
  overflow: auto;
  max-height: 350px;
}
.table-body .table,
.table-header .table {
  margin: 0;
  table-layout: fixed;
}
.table-header td,
.table-header th {
  user-select: none;
  -webkit-user-select: none;
}
.table-header td,
.table-header th,
.table-body td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fa-sort-asc {
  position: relative;
  top: 2px;
}
.fa-sort-desc {
  position: relative;
  top: -2px;
}
.picture_name {
  display: inline-block;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subbox {
  overflow: hidden;
  height: 450px;
  width: 588px;
  position: relative;
}
.subbox .move {
  width: 1764px;
  position: absolute;
}
.subbox .content {
  height: 262px;
  overflow-y: auto;
  border: 1px solid #edf0f5;
  padding: 10px 25px;
  color: #333;
}
.subbox .content table tr td {
  padding-bottom: 20px;
  vertical-align: top;
}
.subbox .content table tr td img {
  width: 80px;
  height: 80px;
}
.subbox .content table tr > td:first-child {
  text-align: right;
  vertical-align: middle;
}
.subbox .stepA,
.subbox .stepB,
.subbox .stepC {
  float: left;
  height: 450px;
  width: 588px;
}
.subbox .stepA h5.info,
.subbox .stepB h5.info,
.subbox .stepC h5.info {
  color: #fda68a;
  font-size: 18px;
}
.subbox .stepA .stepBg,
.subbox .stepB .stepBg,
.subbox .stepC .stepBg {
  height: 71px;
  background: url(../../assets/imgs/step-bg.png) no-repeat;
  margin: 34px auto;
  width: 440px;
}
.subbox .stepB .content {
  border: none;
  padding: 0;
}
.subbox .stepC .content {
  color: #4c5e70;
  padding: 20px 75px;
  font-size: 16px;
  text-align: left;
}
.subbox .stepC .content p.indent {
  text-indent: 2em;
}
.subbox .stepB .stepBg {
  background-position: 0px -100px;
}
.subbox .stepC .stepBg {
  background-position: 0px -200px;
}
.mylesson p {
  color: #666;
}
.mylesson ul {
  color: #666;
}
#subresume {
  margin-left: 115px;
}
ul.proList {
  font-size: 14px;
  color: #333;
}
ul.proList li {
  overflow: hidden;
}
ul.proList li span {
  display: inline-block;
  margin-bottom: 20px;
  max-width: 80%;
  line-height: 1.8;
}
ul.proList li span img {
  width: 80px;
  height: 80px;
  background: transparent;
  border: none;
}
ul.proList li span:first-child {
  text-align: right;
  width: 90px;
  vertical-align: top;
}
.form label {
  vertical-align: top;
  margin-top: 5px;
  width: 85px;
  text-align: right;
  font-weight: normal;
}
.resume label {
  width: 90px;
  display: inline-block;
  text-align: right;
}
.resume form input[type='text'],
.resume form input[type='number'],
.resume form input[type='email'],
.resume form select {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 3px;
  padding: 3px 10px;
  width: 220px;
}
.resume textarea {
  width: 645px;
  resize: none;
  min-height: 107px;
  outline: none;
  border: 1px solid #ccc;
}
.resume .choose span {
  margin-top: 7px;
  padding-left: 25px;
  background: url(../../assets/imgs/checkbg.png) no-repeat 0px -16px;
  display: inline-block;
  margin-right: 30px;
  height: 15px;
  line-height: 14px;
  cursor: pointer;
}
.resume .choose span.current {
  background: url(../../assets/imgs/checkbg.png) no-repeat 0 0;
}
p.errorInfo {
  color: red;
  margin: 0;
  font-size: 12px;
  margin-left: 90px;
  margin-top: 5px;
}
.jihuashu {
  display: inline-block;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 135px;
  color: #666;
  padding-left: 45px;
  font-size: 14px;
  height: 41px;
  line-height: 41px;
  text-decoration: none;
  background: url(../../assets/imgs/icon-jihuashu.png) no-repeat;
}
.jihuashu:hover {
  background: url(../../assets/imgs/icon-jihuashu-p.png) no-repeat;
  color: #5584ff;
  text-decoration: none;
}
.info-green {
  color: #4ecb9f;
  font-size: 12px;
}
.upload {
  display: inline-block;
}
.upload .uploader-list,
.upload .btns {
  display: inline-block;
  max-width: 820px;
}
.upload #pickers i {
  color: #4ecb9f;
  font-size: 12px;
  font-style: normal;
}
.upload .webuploader-pick {
  background: #FFF;
  padding: 0;
}
.upload .webuploader-pick:hover {
  background: #FFF;
}
.upload .jihuashu {
  margin-bottom: 0;
}
.upload .imgList {
  display: inline-block;
  overflow: hidden;
}
.upload .remove {
  color: #5584ff;
  font-size: 12px;
  font-style: normal;
  margin-left: 5px;
  cursor: pointer;
}
.upload .jihuashu-info {
  float: left;
  width: 55px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.info {
  font-size: 12px;
  color: #999;
  margin-top: 10px;
}
.table.table-info td {
  border: none !important;
  line-height: 1.8;
}
.table.table-info td:first-child {
  padding-left: 40px;
  text-align: right;
  width: 112px;
}
.table.table-info tr {
  border: 1px solid #f6f7fd;
  min-height: 40px;
}
.icon-info {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url(../imgs/icon-info-bg.png) no-repeat;
}
.webuploader-container {
  position: relative;
}
.webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.webuploader-pick {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #00b7ee;
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
}
.webuploader-pick-hover {
  background: #00a2d4;
}
.webuploader-pick-disable {
  opacity: 0.6;
  pointer-events: none;
}
.imgUpload-info {
  color: #00b7ee;
}
label.error {
  display: block;
  margin-left: 90px;
  width: auto;
  text-align: left;
  color: #fc6a3c;
}
.pagination > li > a,
.pagination > li > span {
  margin: 0 5px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  line-height: 30px;
}
.pagination > li.first > a:hover,
.pagination > li.last > a:hover {
  background-color: #fff;
}
.progressBox.uploader .progress {
  margin-bottom: 0;
  height: 12px;
}
.progressBox.uploader .progress-bar {
  background-color: #4ecb9f;
}
.progressBox.uploader p {
  font-size: 12px;
  width: 154px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.breadcrumb {
  color: #999;
}
ul.con-detail {
  color: #666;
}
ul.con-detail li div {
  display: inline-block;
  margin-bottom: 20px;
  max-width: 80%;
  line-height: 1.8;
  color: #333;
}
ul.con-detail li div img {
  width: 200px;
  height: 142px;
  border: none;
}
