* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  font-family: "微软雅黑", sans-serif;
  background: #fff;
}
li {
  list-style: none;
}
img {
  display: block;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #000;
}
/*资产说明页面*/
article {
  margin: 0 auto;
  padding-top: 25px;
  width: 92%;
}
article ol li {
  color: #5584ff;
  font-size: 16px;
  letter-spacing: 2px;
}
article ol li ul li {
  padding-top: 12px;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
article ol li ul li:last-child {
  padding-top: 10px;
  padding-bottom: 25px;
}
/*邀请好友页面*/
aside {
  width: 100%;
}
.erweima {
  width: 59%;
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
}
.erweima .logo {
  width: 100%;
}
.erweima .weixinma {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 39%;
}
.title {
  padding-top: 20px;
  width: 81%;
  margin: 0 auto;
}
.title p {
  font-size: 16px;
  color: #333333;
  padding-bottom: 20px;
}
.title ul li {
  font-size: 13px;
  color: #999999;
  line-height: 20px;
}
.title ul li a {
  color: #5584ff;
}
.title ul li:last-child {
  padding-bottom: 15px;
}
.border {
  width: 100%;
  height: 12px;
  background: #efeff4;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
.description {
  margin: 0 auto;
}
.description p,
.photo p {
  padding: 14px 0 14px 0;
  margin-left: 15px;
  color: #333333;
  font-size: 16px;
  border-bottom: 1px solid #d9d9d9;
}
.description ol {
  width: 92%;
  margin: 0 auto;
}
.description ol li {
  color: #333;
  font-size: 14px;
}
.description ol li:first-child {
  padding-top: 15px;
}
.description ol li ul li {
  color: #666;
  font-size: 13px;
  padding-left: 1em;
  line-height: 25px;
}
.description ol li ul li:first-child {
  padding-top: 10px;
}
.description ol li ul li:last-child {
  padding-bottom: 19px;
}
.loop {
  padding: 15px;
  mix-width: 90%;
  overflow: auto;
  margin: 0 auto;
}
.loop img {
  display: inline-block;
  width: 22%;
  white-space: nowrap;
  margin-right: 15px;
}
