body {
  background-color: #edf0f5;
}
.pt-20 {
  padding-top: 20px;
}
.pb-40 {
  padding-bottom: 40px;
}
.bt-1 {
  border-top: 1px solid #eaecef;
}
.bb-1 {
  border-bottom: 1px solid #eaecef;
}
.bl-2 {
  border-bottom: 2px solid #eaecef;
}
.img100 {
  width: 100px;
  height: 100px;
}
.img200 {
  width: 200px;
  height: 120px;
}
.content {
  min-width: 1200px;
}
.header-top .navbar-nav li a {
  line-height: 14px;
  color: #77b300;
}
.header-top .navbar-nav li a:last-child {
  padding-right: 0;
}
.header-up-content,
.header-down-content,
.main-content,
.footer-content {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-down {
  border-bottom: 2px solid #5584ff;
  background-color: #fff;
}
.header-down-content {
  position: relative;
}
.header-down .navbar-nav li a {
  margin: 22px 5px;
  border-radius: 3px;
  color: #333;
  font-size: 16px;
}
.header-down .navbar-nav li a span {
  display: inline-block;
  width: 26px;
  height: 15px;
  margin-left: 3px;
  background: url(../../assets/imgs/icon_hot_nm.gif) 0 0 no-repeat;
}
.header-down .navbar-nav li.active a,
.header-down .navbar-nav li a:focus,
.header-down .navbar-nav li a:hover {
  color: #fff;
  background-color: #ef60ab;
}
.header-down .navbar-nav li.active a span,
.header-down .navbar-nav li a:focus span,
.header-down .navbar-nav li a:hover span {
  background-image: url(../../assets/imgs/icon_hot_pre.gif);
}
.navbar-brand {
  height: 80px;
  line-height: 80px;
  color: #333;
  font-size: 25px;
}
.navbar-brand img {
  display: inline-block;
  margin-right: 15px;
}
.login {
  margin: 23px 0;
  border: 1px solid #77b300;
  padding: 8px 15px;
  color: #77b300;
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;
}
.login a,
.logout > a {
  color: #77b300;
}
.logout {
  padding: 33px 0px;
  color: #77b300;
  font-size: 14px;
  line-height: 14px;
}
.logout > span {
  margin-right: 10px;
  padding: 25px 0;
}
.dropdown-menu {
  right: -70px;
  top: 60px;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
}
.dropdown-menu:before,
.dropdown-menu:after {
  position: absolute;
  border: solid transparent;
  content: "";
}
.dropdown-menu:before {
  top: -24px;
  left: 68px;
  border-width: 12px;
  border-bottom-color: #ccc;
}
.dropdown-menu:after {
  top: -22px;
  left: 69px;
  border-width: 11px;
  border-bottom-color: #fff;
}
.dropdown-menu.hover:after {
  border-bottom-color: #f5f5f5;
}
.dropdown-menu > li > a {
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0;
  color: #999;
}
.main-container {
  margin: 0 auto;
  width: 1200px;
}
.breadcrumb {
  margin: 30px 15px;
  font-size: 16px;
}
.bg-white {
  margin-bottom: 45px;
  padding: 45px 15px;
  min-height: 616px;
}
.pagination > li > a,
.pagination > li > span {
  margin: 0 5px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  line-height: 30px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 50%;
}
.footer {
  padding: 15px 0;
  height: 130px;
  color: #bacaff;
  background-color: #5584ff;
  min-width: 1200px;
}
.footer-content {
  position: relative;
}
.footer a,
.footer p {
  margin: 0;
  font-size: 14px;
  line-height: 35px;
  color: #fff;
}
.footer p.owner {
  margin: 5px 0 0;
  font-size: 12px;
  line-height: 15px;
  color: #bacaff;
}
.footer p.owner span {
  margin: 0 10px 0 15px;
}
.footer p.owner img {
  margin: 0 5px 0 10px;
}
.footer .qcode {
  position: absolute;
  top: 0;
  right: 0;
}
.footer .qcode img {
  height: 70px;
}
.footer .qcode-text {
  margin-top: 10px;
  color: #fff;
  font-size: 15px;
  line-height: 15px;
}
.footer .border-1 {
  margin: 0 2px;
  padding: 0 5px;
  border-left: 1px solid #bacaff;
  border-right: 1px solid #bacaff;
}
